{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %} " rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href=" {% static 'css/agency.min.css' %} " rel="stylesheet">

     <title>BlogCulinaire</title>
</head>
<body id="page-top">
     <!-- Navigation -->
     {% block nav %}
      {% endblock %}
     <!-- Header -->
     {% block header %}
      {% endblock %}
     

    <!-- add content here -->
    {% block content %}
    {% endblock %}
   
     <!-- Footer -->
     <footer>
            <div class="container">
              <div class="row">
                <div class="col-md-4">
                  <span class="copyright">Copyright &copy; Your Website 2018</span>
                </div>
                <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                      <a href="#">Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">Terms of Use</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    </footer>
      
    {% block footer %}
    {% endblock %} 
      
          <!-- Bootstrap core JavaScript -->
          <script src="{% static 'js/jquery/jquery.min.js' %} "></script>
          <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %} "></script>
      
          <!-- Plugin JavaScript -->
          <script src="{% static 'js/jquery-easing/jquery.easing.min.js' %} "></script>
      
          <!-- Contact form JavaScript -->
          <script src="{% static 'js/jqBootstrapValidation.js' %} "></script>
          <script src="{% static 'js/contact_me.js' %} "></script>
      
          <!-- Custom scripts for this template -->
          <script src="{% static 'js/agency.min.js' %} "></script>
      

</body>
</html>